doctype html
html
  head
    title #{$.title} | #{markade.name}
    meta(name="description", content=$.description)
    meta(name="keywords", content=$.keywords)
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    block content
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")